
@{
    ViewBag.Title = "Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Analysis</h2>

@*<style type="text/css">
          .list-group-item {
            font-size: 1.2em;
          }
        </style>
    <a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a>
        <div class="well well-sm">
          <h2>Bootstrap Misc. Libraries</h2>
          <p>
            These samples illustrate some miscellaneous libraries you might want to use for your Bootstrap business applications.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="list-group">
              <div class="list-group">
                <h3>Font Awesome</h3>
                <a class="list-group-item" href="/FontAwesomeSamples/Font01">Font Awesome Sample</a>
              </div>
              <div class="list-group">
                <h3>Bootswatch Samples</h3>
                <a class="list-group-item" href="/BootswatchSamples/DarklySample">Darkly Theme</a>
                <a class="list-group-item" href="/BootswatchSamples/FlatlySample">Flatly Theme</a>
                <a class="list-group-item" href="/BootswatchSamples/SandstoneSample">Sandstone Theme</a>
              </div>
              <div class="list-group">
                <h3>Date Range Picker Samples</h3>
                <a class="list-group-item" href="/DateRangeSamples/DateRange01">Simple Picker</a>
                <a class="list-group-item" href="/DateRangeSamples/DateRange02">Set Start Options</a>
                <a class="list-group-item" href="/DateRangeSamples/DateRange03">Single Date Picker</a>
                <a class="list-group-item" href="/DateRangeSamples/DateRange04">Callback Function</a>
                <a class="list-group-item" href="/DateRangeSamples/DateRange05">Custom Ranges</a>
              </div>
              <div class="list-group">
                <h3>Input Mask Samples</h3>
                <a class="list-group-item" href="/InputMaskSamples/Input01">Input Masks using jQuery</a>
                <a class="list-group-item" href="/InputMaskSamples/Input02">Input Masks using 'data-' attributes</a>
              </div>
            </div>
          </div>
        </div>*@
