
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/Login_popup/css/style.css" rel="stylesheet" />
<script src="~/Content/Login_popup/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/Login_popup/js/modernizr-2.6.2.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div>
            <h1 class="text-center">Let's Begin, To know the REAL insight of the Cricket World</h1>
           <h3 class="text-center">Bookbark,  For your Favourite Team or Ground </h3>   
           <h3 class="text-center">Susbcribe, For all the latest updates & Match Score </h3>   
            <button id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal" style="position:absolute; left:200px; top:-150px;">
                Let's sign In!
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header login_modal_header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
            </div>
            <div class="modal-body login-modal">
               
                <br />
                <div class="clearfix"></div>
                <div id='social-icons-conatainer'>
                    <div class='modal-body-left'>
                        <div class="form-group">
                            <input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field">
                            <i class="fa fa-user login-field-icon"></i>
                        </div>

                        <div class="form-group">
                            <input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
                            <i class="fa fa-lock login-field-icon"></i>
                        </div>

                        <a href='@Url.Action("Index","Home")' class="btn btn-success modal-login-btn">Login</a>
                        <a href='@Url.Action("Index","Home")' class="login-link text-center">Lost your password?</a>
                    </div>

                    <div class='modal-body-right'>
                        <div class="modal-social-icons">
                            <a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                            <a href='#' class="btn btn-default twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                            <a href='#' class="btn btn-default google"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
                            <a href='#' class="btn btn-default linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                        </div>
                    </div>
                    <div id='center-line'> OR </div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group modal-register-btn">
                    <button class="btn btn-default"> New User Please Register</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer login_modal_footer">
            </div>
        </div>
    </div>
</div>

