
@{
    ViewBag.Title = "TeamBattingWise";
    Layout = "~/Views/Shared/_AdelaideOval.cshtml";
}

<div class="container col-lg-12" style="background-color:white; margin-top:20px; padding:50px;">

    <div id="container" style="height: 400px; min-width: 310px; max-width: 600px; margin: 0 auto">

    </div>
    <div id="info"></div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script>
    $(function () {
        var chartData = [];
        $.ajax({
            type: 'GET', //  http get request , ye type controller k http decorated method s arai, should be same
            url: '<%: Url.Action("TeamBattingWise")%>', // [7:29:38 AM] Mehtab Ali: url isliye hota hai ki server pr kaha hai data..isme hm absolute path dete hain
//: agr host ho jata ye toh hm kuch aise likhte
//
            data: {
                format: 'json' // data is coming from model class in json format
            },
            error: function () {
                $('#info').html('<p>An error has occurred</p>');
            },
            dataType: 'json',
            success: function (countryListdata) {

                fillChart(countryListdata);
            },
            error: function () {
                alert('error');
            }

        });
        function fillChart(countryListdata) {
            $('#container').highcharts({

                chart: {
                    type: 'bubble',
                    plotBorderWidth: 1,
                    zoomType: 'xy'
                },

                legend: {
                    enabled: false
                },

                title: {
                    //TITLE-Is the text that will be presented at the top of a chart.
                    text: 'Top 10 BATSMAN at Adelaide Oval'
                },

                subtitle: {

                    // some text below main title
                    text: 'Source: <a href="http://www.euromonitor.com/">The CricketInsighter</a>'
                },
                //Tick marks are the lines placed along an axis to show the units of measurement. The spacing between ticks are mainly decided by the tickInterval and tickPixelInterval options. Labels and grid lines are laid out on the same positions as the tick marks.
                xAxis: {
                    //Grid lines are collections of horizontal (and/or vertical) lines that divide a chart into a grid, making it easier to read values of the chart.

                   // To enable or disable gridlines for either the x or y-axis, set the gridLineWidth of the respective axis:
                    gridLineWidth: 1,
                    title: {
                        text: 'Runs'
                    },
                    //The axis labels can be found along the axis showing the value of the data it corresponds to. Labels can also be customized using a formatter function:
                    labels: {
                        format: '{value}'
                    },
                    plotLines: [{
                        color: 'black',
                        dashStyle: 'dot',
                        width: 2,
                        value: 65,
                        label: {
                            rotation: 0,
                            y: 15,
                            style: {
                                fontStyle: 'italic'
                            },

                        },
                        zIndex: 3
                    }]
                },

                yAxis: {
                    startOnTick: false,
                    endOnTick: false,
                    title: {
                        text: 'Average'
                    },
                    labels: {
                        format: '{value}'
                    },
                    maxPadding: 0.2,
                    plotLines: [{
                        color: 'black',
                        dashStyle: 'dot',
                        width: 2,
                        value: 50,
                        label: {
                            align: 'right',
                            style: {
                                fontStyle: 'italic'
                            },
                            //text: 'Safe sugar intake 50g/day',
                            x: -10
                        },
                        zIndex: 3
                    }]
                },
                tooltip: {
                    useHTML: true,
                    headerFormat: '<table>',

                    pointFormat: '<tr><th colspan="2"><h2>{point.playerName}</h2></th></tr>' +
                        '<tr><th>Country:</th><td>{point.countryName}</td></tr>' +
                        '<tr><th>Runs:</th><td>{point.x}</td></tr>' +
                        '<tr><th>HighScore:</th><td>{point.z}</td></tr>' +
                        '<tr><th>Avg(runs/balls):</th><td>{point.y}</td></tr>',
                    footerFormat: '</table>',
                    followPointer: true
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.country}'
                        }
                    }
                },

                series: [{
                    data: countryListdata

                }]

            });
        }

    });
    </script>


</div>


